:root{
    --vermelho: #E50914;
    --preta: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

/*elementos base*/
}
body{
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: white;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header{
    width: 100%;
    height: 68px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) -30%, transparent 100%);
    position: fixed;
    transition: .7s;
    z-index: 10;
}

header.black{
    background: #131313
}

header .nav-container .logo{
  
        margin-right: 15px;       
        color: var(--vermelho);
        font-family: 'Arial black', Times;
        font-size: 40px;
}

.nav-container{
    max-width: 1250px;
    width: 90%;
    height: 68px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
}

/* Box Lenght */
.nav-container:nth-child(1){
    grid-template-columns: 1fr 4fr 3fr;
}


.logo img{
    width: 95px;
    margin-top: 5px;
     
}

.navbar ul{
    display: flex;
}

.navbar ul li{
    list-style: none;
    padding-right: 20px;
    font-size: 14px;
    font-weight: 400;
}

.navbar ul li a{
    color: #fff;
    transition: .3s;
}

.navbar ul li a:hover{
    color: #b3b2b2;
}

/* Second Navigation */
.nav-container .secondary-navigation{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-container .secondary-navigation a{
    padding-right: 30px;
    color: #fff;
}

.nav-container .secondary-navigation a:nth-child(5){
    padding-right: 0;
}

.nav-container .secondary-navigation .fa-search{
    font-size: 18px;
}

.nav-container .secondary-navigation .profile-change{
    font-size: 14.4px;
    text-transform: uppercase;
}

.nav-container .secondary-navigation .fa-gift{
    font-size: 20px;
    color: #fff;
}

.nav-container .secondary-navigation .fa-bell{
    font-size: 22px;
    color: #fff;
}

.nav-container .secondary-navigation img{
    width: 33px;
    height: 33px;
    border-radius: 5px;
}



/*filme principal*/
.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('/img/friends_capa.jpg');

    height: 500px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;

}
.filme-principal .titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.botao{
    background-color: rgba(0,0,0,.50);
    border:none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color: white;
    color: black;
}
.botao i{
    margin-right: 8px;
}
.container{
    margin-left: 20px;
    margin-right: 10px;
}
.filme-principal .container{
    width: 70%;
}
.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filmes{
    margin-top: 5px;
    
}

.carrosel-favoritos{
    margin-top: 5px;
}